<app-headers></app-headers>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Venga</span>
            <span class="section-heading-lower">Nosotros estamos</span>
          </h2>
          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            <li class="list-unstyled-item list-hours-item d-flex">
              Domingo
              <span class="ms-auto">Cerrado</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Lunes
              <span class="ms-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Martes
              <span class="ms-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Miercoles
              <span class="ms-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Jueves
              <span class="ms-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Viernes
              <span class="ms-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Sabado
              <span class="ms-auto">9:00 AM to 5:00 PM</span>
            </li>
          </ul>
          <p class="address mb-5">
            <em>
              <strong>1116 calle huerto</strong>
              <br />
              Valle Dorado (Minnesota)
            </em>
          </p>
          <p class="mb-0">
            <small><em>Llama en cualquier momento</em></small>
            <br />
            (311) 838-7560
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section about-heading">
  <div class="container">
    <img
      class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
      src="../../../assets/img/about.jpg"
      alt="..."
    />
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper"
                >Café fuerte, raíces fuertes</span
              >
              <span class="section-heading-lower">Acerca de nuestro café </span>
            </h2>
            <p>
              Fundado en 1987 por los hermanos Hernández, nuestro
              establecimiento cuenta con estado sirviendo un rico café
              procedente de agricultores artesanales en diversas regiones de
              América del Sur y Central. Estamos dedicados a viajar por el
              mundo, encontrar el mejor café y traer de vuelta para ti aquí en
              nuestro café.
            </p>
            <p class="mb-0">
              Te garantizamos que caerás
              <em>lust</em>
              con nuestras mezclas decadentes desde el momento en que entras
              hasta que Termina tu último sorbo. Únase a nosotros para su rutina
              diaria, una salida con amigos, o simplemente para disfrutar de un
              tiempo a solas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
