<app-headers></app-headers>
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img
        class="intro-img img-fluid mb-3 mb-lg-0 rounded"
        src="../../../assets/img/intro.jpg"
        alt="..."
      />
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Café fresco</span>
          <span class="section-heading-lower">Vale la pena beber café</span>
        </h2>
        <p class="mb-3">
          Cada taza de nuestro café artesanal de calidad comienza con productos
          locales, ingredientes seleccionados a mano. Una vez que lo pruebes,
          nuestro café será un maravillosa adición a tu rutina matutina diaria:
          ¡te lo garantizamos!
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="#!">¡Visítenos hoy!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Nuestra promesa</span>
            <span class="section-heading-lower">A usted</span>
          </h2>
          <p class="mb-0">
            Cuando ingresa a nuestra tienda para comenzar el día, estamos
            dedicados a brindándole un servicio amable, un ambiente acogedor y
            por encima de todo, excelentes productos elaborados con la más alta
            calidad. ingredientes. Si no está satisfecho, háganoslo saber y
            nosotros ¡Haremos todo lo posible para hacer las cosas bien!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
